<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "hero/hero-1.jpg", class: "d-block w-100", alt: "Hero 1" %>
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="carousel-caption text-start" style="bottom: 50px; left: 50px;">
              <h1 style="color: #282828;">Avivas</h1>
              <p style="color: #696969;">La mejor tienda de ropa en línea</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "hero/hero-2.jpg", class: "d-block w-100", alt: "Hero 2" %>
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-7 col-md-8">
            <div class="carousel-caption text-start" style="bottom: 50px; left: 50px;">
              <h1 style="color: #282828;">Avivas</h1>
              <p style="color: #696969;">La mejor tienda de ropa en línea</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>