/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

/*
 *= require_tree .
 *= require_self
*/  

html, body {
  height: 100%; 
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* Carousel image */
.product-image {
  width: 100%; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Set a maximum height */
  object-fit: cover; /* Ensure the image covers the area without distortion */
}

/* Cart image and color */
.ui-w-40 {
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}

/* Empty cart scoped */
.main-cart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-cart-container .container {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.main-cart-container .card {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.main-cart-container .card-body {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Signin scoped */
.signin-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.signin-container .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.signin-container .form-signin .checkbox {
  font-weight: 400;
}

.signin-container .form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.signin-container .form-signin .form-control:focus {
  z-index: 2;
}

.signin-container .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.signin-container .form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}