<% content_for :title, "Productos" %>

<%= render "products/index/header" %>


<div id="products">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <%= render partial: "products/index/partial", locals: { product: product } %>
      <% end %>

    </div>
    <div class="d-flex justify-content-center mb-5 pt-5">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
