<% content_for :title, "Products" %>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render partial: "products/partial", locals: { product: product } %>
  <% end %>
</div>

<%= link_to "New product", new_product_path %>
