<% content_for :title, "Nuevo producto" %>

<div class="text-center mt-4">
  <h1>Creando nuevo producto</h1>
</div>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
