<div class="main-cart-container">
  <div class="container my-5">
    <div class="card">
      <div class="card-body text-center">
        <h2>El carrito está vacío</h2>
        <p>¡Ve a comprar algunos productos!</p>
        <%= link_to "Ver productos", products_path, class: "btn btn-outline-primary mt-3" %>
      </div>
    </div>
  </div>
</div>
