<header class="bg-dark py-3">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Compra con estilo</h1>
            <p class="lead fw-normal text-white-50 mb-0">Descubre lo mejor de la moda y las tendencias</p>
        </div>
    </div>
</header>